section.about-preview
  .container
    .row
      .col-lg-8.about-preview__wrapper
        h3.section-title
          | О нашей компании 
          br
          span СПБ-Разборка
        article.about-preview__history
          p
            | Наша компания «СПБ разборка» на рынке уже более пяти лет , занимаемся поставкой запчастей для иностранных автомобилей
            | от российский производителей, а также из других стран. В нашем ассортименте продукции вы можете легко заказать б/у
            | запчасти из Европы, купить новые запчасти.
          p
            | С 2014 года мы сотрудничаем напрямую с европейскими разборками, поэтому предлагаемый нами товар всегда высокого
            | качества и имеет гарантии.
      .col-lg-4.certificates
        .certificates__wrapper
          .swiper-container.certificates__slider
            .swiper-wrapper
              .swiper-slide
                img.certificates__img(src='', data-src='img/certificate.png', alt='Сертификат')
              .swiper-slide
                img.certificates__img(src='', data-src='img/certificate.png', alt='Сертификат')
              .swiper-slide
                img.certificates__img(src='', data-src='img/certificate.png', alt='Сертификат')
          .swiper-pagination.progress-pagination.certificates__pagination
          .swiper-button-prev.standart-navigation.standart-navigation--prev.certificates__button--prev
          .swiper-button-next.standart-navigation.standart-navigation--next.certificates__button--next