.col-lg-3.col-md-4.categories-expanded.main-advantages
  .main-advantages__wrapper
    img.main-advantages__img(src='img/low-prices.png')
    h4.main-advantages__title Выгодные цены
    p.main-advantages__text до 40% экономии
.col-lg-3.col-md-4.main-advantages
  .main-advantages__wrapper
    img.main-advantages__img(src='img/warranty.png')
    h4.main-advantages__title Гарантия на товары
    p.main-advantages__text до 1 месяца
.col-lg-3.col-md-4.main-advantages
  .main-advantages__wrapper
    img.main-advantages__img(src='img/rus-delivery.png')
    h4.main-advantages__title Доставка по всей
    p.main-advantages__text территории РФ