.col-lg-9.categories-expanded.banners-slider
  .swiper-container.banners-slider__container
    .swiper-wrapper.banners-slider__wrapper
      .swiper-slide.banners-slider__slide(style='background-image: url(img/slider-img.png)')
        h2.banners-slider__title
          span Автозапчасти
          br
          |  из Европы
        p.banners-slider__text
          | Привозим автозапчасти высокого качества 
          br
          |  из Европы в сжатые сроки
        a.btn.btn--banners-slider(href='#') Подробнее 
      .swiper-slide.banners-slider__slide
        h2.banners-slider__title
          span Автозапчасти
          br
          |  из Европы
        p.banners-slider__text
          | Привозим автозапчасти высокого качества 
          br
          |  из Европы в сжатые сроки
        a.btn.btn--banners-slider(href='#') Подробнее 
      .swiper-slide.banners-slider__slide
        h2.banners-slider__title
          span Автозапчасти
          br
          |  из Европы
        p.banners-slider__text
          | Привозим автозапчасти высокого качества 
          br
          |  из Европы в сжатые сроки
        a.btn.btn--banners-slider(href='#') Подробнее 
      .swiper-slide.banners-slider__slide
        h2.banners-slider__title
          span Автозапчасти
          br
          |  из Европы
        p.banners-slider__text
          | Привозим автозапчасти высокого качества 
          br
          |  из Европы в сжатые сроки
        a.btn.btn--banners-slider(href='#') Подробнее 
    .swiper-pagination.progress-pagination.banners-slider__pagination
    .swiper-button-prev.banners-slider__button.banners-slider__button--prev
    .swiper-button-next.banners-slider__button.banners-slider__button--next