//- .col-lg-9.categories-expanded.catalog-search
//-   h2.section-title.catalog-search__title Запчасти на двигатели
//-   form.form.catalog-search__form(action='#')
//-     .catalog-search__form-row
//-       .input-label__wrapper
//-         label.input-label(for='mark') Выберите марку:
//-         .hints-select.hints-select--mobile
//-           input#mark.form__input.hints-select__input(type='text', name='mark', placeholder='Марка')
//-           ul.hints-select__dropdown
//-             li.hints-select__item.empty Результаты не найдены
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-           span.hints-select__close x
//-       .input-label__wrapper
//-         label.input-label(for='model') Выберите модель:
//-         .hints-select.hints-select--mobile
//-           input#model.form__input.hints-select__input(type='text', name='model', placeholder='Модель')
//-           ul.hints-select__dropdown
//-             li.hints-select__item.empty Результаты не найдены
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-           span.hints-select__close x
//-       .input-label__wrapper
//-         label.input-label(for='autopart') Выберите запчасть:
//-         .hints-select.hints-select--mobile
//-           input#autopart.form__input.hints-select__input(type='text', name='autopart', placeholder='Запчасть')
//-           ul.hints-select__dropdown
//-             li.hints-select__item.empty Результаты не найдены
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-           span.hints-select__close x
//-       button.btn.btn--home-filters.desktop Показать
//-     .catalog-search__form-row
//-       .input-label__wrapper
//-         label.input-label(for='start') Выберите год выпуска:
//-         .hints-select.hints-select--mobile
//-           input#start.form__input.hints-select__input(type='text', name='start', placeholder='Начало выпуска')
//-           ul.hints-select__dropdown
//-             li.hints-select__item.empty Результаты не найдены
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-           span.hints-select__close x
//-       .input-label__wrapper
//-         label.input-label(for='end') Выберите год выпуска:
//-         .hints-select.hints-select--mobile
//-           input#end.form__input.hints-select__input(type='text', name='end', placeholder='Конец выпуска')
//-           ul.hints-select__dropdown
//-             li.hints-select__item.empty Результаты не найдены
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-             li.hints-select__item A3
//-           span.hints-select__close x
//-       .input-label__wrapper
//-         label.input-label(for='number') Введите номер:
//-         input#number.form__input.form__input--aside(type='text', placeholder='Номер запчасти')
//-       .input-label__wrapper
//-         label.input-label(for='sort') Сортировка товаров:
//-         select#sort.form__select.form__input--label.catalog-search__select(name='sort')
//-           option(value='up', selected='') По возрастанию цены
//-           option(value='down') По убыванию цены
//-       label.custom-checkbox.custom-checkbox--mobile-search.mobile
//-         input(type='checkbox')
//-         span
//-         |                             Убрать «под заказ»
//-       button.btn.btn--home-filters.mobile Показать
//-     label.custom-checkbox.custom-checkbox--mobile-search
//-       input(type='checkbox')
//-       span
//-       |                         Убрать «под заказ»