.col-lg-5.page-footer__menu
  ul.page-footer__menu-wrapper
    li.page-footer__menu-item
      a.page-footer__menu-link(href='discount') Акции
    li.page-footer__menu-item
      a.page-footer__menu-link(href='partners') Партнерам
    li.page-footer__menu-item
      a.page-footer__menu-link(href='faq') Вопрос-ответ
    li.page-footer__menu-item
      a.page-footer__menu-link(href='reviews') Отзывы
  ul.page-footer__menu-wrapper
    li.page-footer__menu-item
      a.page-footer__menu-link(href='about') О нас
    li.page-footer__menu-item
      a.page-footer__menu-link(href='products') Каталог товаров
    li.page-footer__menu-item
      a.page-footer__menu-link(href='guarantees') Гарантии
    li.page-footer__menu-item
      a.page-footer__menu-link(href='delivery') Доставка и оплата
    li.page-footer__menu-item
      a.page-footer__menu-link(href='contacts') Контакты