nav.col-lg-9.navigation
  .navigation__wrapper
    a.navigation__link(href='about') О нас
    a.navigation__link(href='guarantees') Гарантии
    a.navigation__link(href='delivery') Доставка и оплата
    a.navigation__link(href='reviews') Отзывы
    a.navigation__link(href='faq') Вопрос-ответ
    a.navigation__link(href='contacts') Контакты