section.best-offer
  .container
    .row
      h3.col-12.section-title
        span ТОП самых популярных
        |  автозапчастей 
        br
        | у наших пользователей
      .col-12.best-offer__slider-container
        .swiper-container.best-offer__slider
          .swiper-wrapper
            .swiper-slide.best-offer__item.best-offer__item--bestseller(data-highlight='Хит продаж')
              img.best-offer__preview(src='', data-src='img/1.jpg', alt='Двигатель на Audi TT 8N 1,8 T')
              h5.best-offer__title Двигатель на Audi TT 8N 1,8 T
              p.best-offer__text Оригинальный номер: 11000441271
              p.best-offer__price 540 000 ₽
              a.btn.btn--transparent.btn--best-offer(href='discount-product-page.html') Подробнее
            .swiper-slide.best-offer__item.best-offer__item--bestseller(data-highlight='Хит продаж')
              img.best-offer__preview(src='', data-src='img/2.jpg', alt='Двигатель на Audi TT 8N 1,8 T')
              h5.best-offer__title Двигатель на Audi TT 8N 1,8 T
              p.best-offer__text Оригинальный номер: 11000441271
              p.best-offer__price 540 000 ₽
              a.btn.btn--transparent.btn--best-offer(href='product-page.html') Подробнее
            .swiper-slide.best-offer__item.best-offer__item--bestseller(data-highlight='Хит продаж')
              img.best-offer__preview(src='', data-src='img/3.jpg', alt='Двигатель на Audi TT 8N 1,8 T')
              h5.best-offer__title Двигатель на Audi TT 8N 1,8 T
              p.best-offer__text Оригинальный номер: 11000441271
              p.best-offer__price 540 000 ₽
              a.btn.btn--transparent.btn--best-offer(href='product-page.html') Подробнее
            .swiper-slide.best-offer__item.best-offer__item--bestseller(data-highlight='Хит продаж')
              img.best-offer__preview(src='', data-src='img/4.jpg', alt='Двигатель на Audi TT 8N 1,8 T')
              h5.best-offer__title Двигатель на Audi TT 8N 1,8 T
              p.best-offer__text Оригинальный номер: 11000441271
              p.best-offer__price 540 000 ₽
              a.btn.btn--transparent.btn--best-offer(href='product-page.html') Подробнее
            .swiper-slide.best-offer__item.best-offer__item--bestseller(data-highlight='Хит продаж')
              img.best-offer__preview(src='', data-src='img/1.jpg', alt='Двигатель на Audi TT 8N 1,8 T')
              h5.best-offer__title Двигатель на Audi TT 8N 1,8 T
              p.best-offer__text Оригинальный номер: 11000441271
              p.best-offer__price 540 000 ₽
              a.btn.btn--transparent.btn--best-offer(href='product-page.html') Подробнее
            .swiper-slide.best-offer__item.best-offer__item--bestseller(data-highlight='Хит продаж')
              img.best-offer__preview(src='', data-src='img/1.jpg', alt='Двигатель на Audi TT 8N 1,8 T')
              h5.best-offer__title Двигатель на Audi TT 8N 1,8 T
              p.best-offer__text Оригинальный номер: 11000441271
              p.best-offer__price 540 000 ₽
              a.btn.btn--transparent.btn--best-offer(href='product-page.html') Подробнее
            .swiper-slide.best-offer__item.best-offer__item--bestseller(data-highlight='Хит продаж')
              img.best-offer__preview(src='', data-src='img/1.jpg', alt='Двигатель на Audi TT 8N 1,8 T')
              h5.best-offer__title Двигатель на Audi TT 8N 1,8 T
              p.best-offer__text Оригинальный номер: 11000441271
              p.best-offer__price 540 000 ₽
              a.btn.btn--transparent.btn--best-offer(href='product-page.html') Подробнее
        .swiper-pagination.progress-pagination.best-offer__pagination
        .swiper-button-prev.standart-navigation.standart-navigation--prev.best-offer__button--prev
        .swiper-button-next.standart-navigation.standart-navigation--next.best-offer__button--next