section.product-slider
  .container
    .row
      h3.col-md-7.section-title
        | Самые выгодные 
        span акции на запчасти
        br
        | не упустите момент
      .col-md-5.product-slider__navigation-wrapper
        .product-slider__button.product-slider__button--prev Предыдущий
        .product-slider__button.product-slider__button--next Следующий
      .col-12
        .swiper-container.product-slider__slider
          .swiper-wrapper
            .swiper-slide.product
              .product-photos
                .product-photos__slider-wrapper
                  .swiper-container.product-photos__slider
                    .swiper-wrapper
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                  .swiper-button-prev.product-photos__button.product-photos__button--prev.product-photos__button--prev-0
                  .swiper-button-next.product-photos__button.product-photos__button--next.product-photos__button--next-0
                .product-photos__pagination-wrapper
                  .swiper-container.product-photos__pagination
                    .swiper-wrapper
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                  .swiper-button-prev.product-photos__pagination-button.product-photos__pagination-button--prev.product-photos__pagination-button--prev-0
                  .swiper-button-next.product-photos__pagination-button.product-photos__pagination-button--next.product-photos__pagination-button--next-0
              .product-slider__info
                h5.product-slider__title Двигатель BMW 1 Series E87/E81 c 2004 г. 
                .product-slider__prices
                  .product__discount-price 540 000 ₽
                  .product__old-price
                    span Старая цена:
                    | 560 000 ₽
                p.product-slider__text
                  | Двигатели на БМВ 1-серии самые разнообразные: от атмосферных и турбированных 4-х цилиндровых
                  | (1.6 — 2.0 л.), до рядных шестерок с наддувом или без него (2.5 — 3.0 л.).
                .discount-timer.discount-timer--product-slider
                  p.discount-timer__descriptor
                    | Поспешите! Акция 
                    br
                    |  закончится через:
                  .discount-timer__circles-wrapper
                    .discount-timer__progress-wrapper
                      svg.progress-ring.discount-timer__ring(width='70', height='70')
                        circle.progress-ring__circle.discount-timer__circle.discount-timer__circle--days(data-total='7', data-left='5', stroke-width='4', fill='#f9f9f9', r='31', cx='35', cy='35')
                        text.discount-timer__counter(x='50%', y='50%') 5
                      span.discount-timer__text Дней
                    .discount-timer__progress-wrapper
                      svg.progress-ring.discount-timer__ring(width='70', height='70')
                        circle.progress-ring__circle.discount-timer__circle.discount-timer__circle--hours(data-total='24', data-left='5', stroke-width='4', fill='#f9f9f9', r='31', cx='35', cy='35')
                        text.discount-timer__counter(x='50%', y='50%') 5
                      span.discount-timer__text Часов
                    .discount-timer__progress-wrapper
                      svg.progress-ring.discount-timer__ring(width='70', height='70')
                        circle.progress-ring__circle.discount-timer__circle.discount-timer__circle--minutes(data-total='60', data-left='5', stroke-width='4', fill='#f9f9f9', r='31', cx='35', cy='35')
                        text.discount-timer__counter(x='50%', y='50%') 5
                      span.discount-timer__text Минут
                .product-slider__buttons-wrapper
                  button.btn.btn--product-buy.preview(href='#') Купить
                  a.btn.btn--product-buy.preview(href='discount-catalog.html') Все акции
            .swiper-slide.product
              .product-photos
                .product-photos__slider-wrapper
                  .swiper-container.product-photos__slider
                    .swiper-wrapper
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                      .swiper-slide.product-photos__slide
                        img(src='', data-src='img/engine-discount.png')
                  .swiper-button-prev.product-photos__button.product-photos__button--prev.product-photos__button--prev-1
                  .swiper-button-next.product-photos__button.product-photos__button--next.product-photos__button--next-1
                .product-photos__pagination-wrapper
                  .swiper-container.product-photos__pagination
                    .swiper-wrapper
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                      .swiper-slide.product-photos__thumb(style='background-image: url(img/engine-discount.png);')
                  .swiper-button-prev.product-photos__pagination-button.product-photos__pagination-button--prev.product-photos__pagination-button--prev-1
                  .swiper-button-next.product-photos__pagination-button.product-photos__pagination-button--next.product-photos__pagination-button--next-1
              .product-slider__info
                h5.product-slider__title Двигатель BMW 1 Series E87/E81 c 2004 г. 
                .product-slider__prices
                  .product__discount-price 540 000 ₽
                  .product__old-price
                    span Старая цена:
                    | 560 000 ₽
                p.product-slider__text
                  | Двигатели на БМВ 1-серии самые разнообразные: от атмосферных и турбированных 4-х цилиндровых
                  | (1.6 — 2.0 л.), до рядных шестерок с наддувом или без него (2.5 — 3.0 л.).
                .discount-timer.discount-timer--product-slider
                  p.discount-timer__descriptor
                    | Поспешите! Акция 
                    br
                    |  закончится через:
                  .discount-timer__circles-wrapper
                    .discount-timer__progress-wrapper
                      svg.progress-ring.discount-timer__ring(width='70', height='70')
                        circle.progress-ring__circle.discount-timer__circle.discount-timer__circle--days(data-total='6', data-left='5', stroke-width='4', fill='#f9f9f9', r='31', cx='35', cy='35')
                        text.discount-timer__counter(x='50%', y='50%') 5
                      span.discount-timer__text Дней
                    .discount-timer__progress-wrapper
                      svg.progress-ring.discount-timer__ring(width='70', height='70')
                        circle.progress-ring__circle.discount-timer__circle.discount-timer__circle--hours(data-total='24', data-left='5', stroke-width='4', fill='#f9f9f9', r='31', cx='35', cy='35')
                        text.discount-timer__counter(x='50%', y='50%') 5
                      span.discount-timer__text Часов
                    .discount-timer__progress-wrapper
                      svg.progress-ring.discount-timer__ring(width='70', height='70')
                        circle.progress-ring__circle.discount-timer__circle.discount-timer__circle--minutes(data-total='60', data-left='5', stroke-width='4', fill='#f9f9f9', r='31', cx='35', cy='35')
                        text.discount-timer__counter(x='50%', y='50%') 5
                      span.discount-timer__text Минут
                .product-slider__buttons-wrapper
                  button.btn.btn--product-buy.preview(href='#') Купить
                  a.btn.btn--product-buy.preview(href='discount-catalog.html') Все акции