section.reasons
  .container
    .row
      h3.col-12.section-title
        span 4 причины
        | , почему вам стоит довериться 
        br
        |  нашему сервису
      .col-lg-3.col-6.reasons__item
        img.reasons__img(src='', data-src='img/euro-quality.png')
        p.reasons__text
          | Все наши детали высокого 
          br
          span Европейского качества
      .col-lg-3.col-6.reasons__item
        img.reasons__img(src='', data-src='img/economy.png')
        p.reasons__text
          | Качество с экономией 
          br
          span до 40% стоимости
      .col-lg-3.col-6.reasons__item
        img.reasons__img(src='', data-src='img/like.png')
        p.reasons__text
          span Гарантия
          |  предоставляется 
          br
          |  на все товары
      .col-lg-3.col-6.reasons__item
        img.reasons__img(src='', data-src='img/big-assortment.png')
        p.reasons__text
          | Более 
          span 2 000 000
          br
          |  автозапчастей на складе