extends layouts

block content
  main.info-page__main
    .container
      .row
        include includes/toggleMenu
        include includes/menuheader
      .row
        include includes/breadcrumbs
        h2.col-12.section-title О нас
        .col-12
          .info-page__banner.info-page__banner--about
            h3.info-page__title
              | Главное подтверждение нашего 
              br
              |  опыта и качества!
            .about-statistics
              .about-statistics__item
                p.clipped-text.about-statistics__title 5 лет
                p.about-statistics__text
                  | профессиональной 
                  br
                  | работы
              .about-statistics__item
                p.clipped-text.about-statistics__title 5 000
                p.about-statistics__text
                  | качественно выполненых 
                  br
                  | заказов
              .about-statistics__item
                p.clipped-text.about-statistics__title 30%
                p.about-statistics__text
                  | клиентов возращаются 
                  br
                  | к нам повторно
      .row.info-page__row
        article.col-12.info-page__article
          p
            | Наша компания «СПБ запчасти» на рынке уже более пяти лет , занимаемся поставкой запчастей для иностранных
            | автомобилей от российский производителей, а также из других стран. В нашем ассортименте продукции вы можете
            | легко заказать б/у запчасти из Европы, купить новые запчасти.
          p
            | С 2014 года мы сотрудничаем напрямую с европейскими разборками, поэтому предлагаемый нами товар всегда высокого
            | качества и имеет гарантии.
      .row.info-page__row
        h2.col-12.section-title
          | Уже на сегодняшний день мы обработали 
          br
          span более 5000 заказов!
        article.col-12.info-page__article
          p
            | Только у нас , вы можете легко поставить б/у двигатель с гарантией по доступной цене , а также получить быстрый
            | и качественный сервис по доставке  или заказу необходимой детали.
          p
            | Помимо этого, есть возможность персонального подбора запчасти, что с легкостью решает проблематику автомобилей
            | после аварии, с легкими повреждениями, либо после приобретения б/у автомобиля.
          p
            | «СПБ запчасти» предлагает полный пакет обслуживания. Вы можете заказать все необходимые запчасти у нас , получив
            | ваш запрос мы решаем проблему полностью, под ключ.
      .row.info-page__row
        h2.col-12.section-title
          | Именно у нас вы найдете 
          span
            | более 1 500 000 наименований
            br
            |                 автозапчастей
          |  из Европы в наличии и в отличном качестве
        article.col-12.info-page__article
          p
            | Европейское качество запчастей значительно выше, нежели российское поэтому все наши клиенты после приобретения
            | необходимого товара устраняют проблему раз и навсегда, а экономия до 40% на запчасти приятно радует не только
            | гостей сайта , но и наших постоянных партнеров.
