extends layouts

block content
  main.info-page__main
    .container
      .row
        include includes/toggleMenu
        include includes/menuheader
      .row
        include includes/breadcrumbs
        h2.col-12.section-title Политика конфиденциальности
      .row.info-page__row
        article.col-12.info-page__article
          p
            | Приобретая автозапчасти б/у в компании «СПБ запчасти » в лице ИП Королев С.А Вы (далее "Покупатель") соглашаетесь с    | нижеследующим:
          p
            | ИП Королев С.А.в дальнейшем «ПРОДАВЕЦ», в лице директора Королев С.А.  и «ПОКУПАТЕЛЬ» заключили настоящий Договор о    | нижеследующем: Покупатель оформляет заказ, оплачивает и получает в собственность, а Продавец исполняет заказ и         | передает в собственность Покупателя товар - бывший в употреблении, далее б/у автозапчасти для автомобиля.
          p 
            | ИСПОЛНЕНИЕ ЗАКАЗА начинается с оформлением заявки по телефону в устной форме, личного визита в офис по адресу СПБ, Маршала Новикова 1 или на сайте продавца www.spb-razborka.ru Технические параметры автомобиля и необходимые к нему автозапчасти содержатся в форме (далее – Заказ). В тех случаях, когда исполнение заказа предусматривает получение товара после внесения оплаты, задаток не возвращается Покупателю, если: а) исполненный Заказ не востребован покупателем в течении 14-ти календарных дней со дня поставки б) настоящий договор расторгается по инициативе Покупателя. Заказ считается исполненным в момент фактической передачи товара покупателю, его представителю, либо представителям транспортной компании, уполномоченной сторонами. В этот момент право собственности на б/у автозапчасти и связанные с ним риски переходит от ПРОДАВЦА к ПОКУПАТЕЛЮ. ПОКУПАТЕЛЬ информирует о ходе исполнения Заказа в т.ч с помощью оповещений на контактный номер телефона и на электронную почту заказчика.
          p
            | ПРИ САМОВЫВОЗЕ со складов передача товара и право собственности происходит к ПОКУПАТЕЛЮ непосредственно после полного расчета в г. Санкт-Петербург по адресам складов, выбранных Покупателем, тел. 8 (952) 211-07-76.
          p
            | ПРИ ЗАКАЗЕ ТОВАРА С ДОСТАВКОЙ, отсчет гарантийного срока начинается со дня поступления товара на склад транспортной компании в городе Получателя. Право собственности на б/у автозапчасти и связанные с ним риски, переходит от ПРОДАВЦА к ПОКУПАТЕЛЮ в момент отгрузки/передачи представителям транспортной компании. ПОКУПАТЕЛЬ уполномачивает ПРОДАВЦА организовывать  доставку силами грузоперевозчиков: ТК Энергия www.nrg-tk.ru, КИТ www.tk-kit.ru, ПЭК www.pecom.ru, Деловые линии www.dellin.ru, и др. на выбор продавца. Покупатель оплачивает грузоперевозчику стоимость доставки товара, дополнительную упаковку и получает товар на складе грузоперевозчика, либо по адресу курьером, указанному ПОКУПАТЕЛЕМ. Отгрузка в ТК производится от 2 до 5 рабочих дней. 
            | ГАРАНТИЯ РАСПРОСТРАНЯЕТСЯ на проверку соответствия и работоспособности следующего товара (календарных дней):
          table(style="width:100%")
            tr
              th Название запчасти
              th Срок гарантии
              th Условия предоставления гарантии
              th Условия возврата по гарантии
            tr
              td Двигатель бензиновый/дизельный
              td 30 календарных дней
              td При условии установки в сертифицированном СТО и не нарушении меток ПРОДАВЦА. С полными условиями предоставления гарантии возможно ознакомиться в ДКП на двигатель, который оформляется в офисе ПРОДАВЦА.
              td Возврат с диагностической картой и заключением сертифицированного СТО о неисправности.
            tr
              td АКПП/МКПП
              td 14 календарных дней
              td При условии установки в сертифицированном СТО и не нарушении меток ПРОДАВЦА
              td Возврат с диагностической картой и заключением сертифицированного СТО о неисправности.
            tr
              td Мосты, карданы, полуоси, ступицы, поворотные кулаки, раздаточные редукторы, турбины.
              td 14 календарных дней
              td При условии установки в сертифицированном СТО и не нарушении меток ПРОДАВЦА
              td Возврат с диагностической картой и заключением сертифицированного СТО о неисправности.
            tr
              td Запчасти с наличием электронных схем:
              td 14 календарных дней
              td При условии установки в сертифицированном СТО и не нарушении меток ПРОДАВЦА. При несоответствии/не предоставлении заводской маркировки ПОКУПАТЕЛЕМ с запчасти, продажа осуществляется БЕЗ ГАРАНИИ.
              td Возврат с диагностической картой и заключением сертифицированного СТО о неисправности.
            tr
              td Остальные запчасти, кроме не гарантийных.
              td 14 календарных дней
              td При условии не нарушении меток ПРОДАВЦА.
              td Возврат при наличии на запчасти меток продавца
            tr
              td ЭЛЕКТРОННЫЕ БЛОКИ УПРАВЛЕНИЯ ДВС
              td 10 календарных дней
              td При условии соответствия маркировок и установки в сертифицированном СТО, не нарушении меток ПРОДАВЦА. При наличии блока иммобилайзера с завода производителя, прописывание «ключа» в блоке управления - обязательно, и не является гарантийным случаем его неработоспособности.
              td Возврат с диагностической картой и заключением сертифицированного СТО о неисправности.
            tr
              td НЕГАРАНТИЙНЫЕ ЗАПЧАСТИ
              td 0 календарных дней
              td Детали кузова, оптика, стекла, решетки радиатора и другие, накладки, мол динги, рейлинги, фаркопы, декоративные детали интерьера, сидения, навесное оборудование при покупке с ДВС.
              td Возврат с 50% издержкой от стоимости покупки в период до 14 дней.
          p
            | ГАРАНТИЯ НЕ РАСПРОСТРАНЯЕТСЯ, а претензии по несоответствию и неработоспособности не принимаются ПРОДАВЦОМ:
          p
            | 1 если автозапчасть/деталь является не гарантийной или истек гарантийный срок;
          p
            | 2 если автозапчасть/деталь является несовместимой, при условии, что ПОКУПАТЕЛЬ сообщил недостоверную информацию об автомобиле или необходимых запчастях;
          p
            | 3 если имеются нарушения гарантийных пломб ПРОДАВЦА, установленных на продаваемой автозапчасти/детали;
          p
            | 4 если ВОЗВРАТ БЕЗ ПРИЧИНЫ, в т. ч. если деталь не устанавливалась, работоспособна и соответствует автомобилю, но нет необходимости в приобретенном товаре. Возможно, взять автозапчасти/детали на реализацию с 50% издержкой от стоимости покупки.
          h2 ПОРЯДОК ВОЗВРАТА-ОБМЕНА:
          p
            | 1 замена товара на работоспособный/соответствующий или возврат приобретенного с выплатой ПОКУПАТЕЛЮ полной стоимости производится в течение 14-ти рабочих дней с момента обращения, после возврата автозапчасти/детали на склад ПРОДАВЦА по адресу, согласованному с ПРОДАЦОМ, путем подачи заявления на возврат/обмен на имя директора в офисе ПРОДАВЦА или на E-mail продавца: eugeny2006@mail.ru, отправить скан заполненного заявления с подписью и датой, предварительно отправив оригинал заявления по почте письмом.
          p
            | 2 в случае отказа ПОКУПАТЕЛЯ от замены на работоспособную/соответствующую автомобилю запасть (при наличии таковой на любом из складов), ПРОДАВЕЦ вправе издержать 30% от продажной стоимости автозапчасти/детали (ей) в качестве погашения убытков от потери коммерческой выгоды.
          p
            | 3 перевозка/транспортировка, ремонт, перепрограммирование, снятие и установка деталей не при каком условии ПРОДАВЦОМ не оплачивается;
          p
            | 4 возврат приобретенного товара производится на основании правил продажи отдельных видов товаров, ПОСТАНОВЛЕНИЕ от 15 декабря 2006 г. N 770 О ВНЕСЕНИИ ИЗМЕНЕНИЙ В ПОСТАНОВЛЕНИЕ ПРАВИТЕЛЬСТВА РОССИЙСКОЙ ФЕДЕРАЦИИ ОТ 19 ЯНВАРЯ 1998 Г. N 55.
          p
            | Настоящий Договор является публичной офертой, а отсутствие подписанного между сторонами экземпляра договора на бумажном носителе, в случае проведения по нему фактической оплаты ПОКУПАТЕЛЕМ, не является основанием считать сделку не заключенной. Проведение оплаты считается акцептом покупателя. Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств, если неисполнение является следствием непреодолимых обстоятельств как военные действия или стихийные бедствия. ПРОДАВЕЦ: ИП Королев С.А. ОГРНИП 314784730200200, ИНН 470379663500
          p
            | Настоящий договор, размещенный на сайте Продавца по адресу www.spb-razborka.ru является публичной офертой, а отсутствие подписанного между сторонами экземпляра Договора на бумажном носителе, в случае проведения по нему фактической оплаты Покупателем, не является основанием считать сделку незаключенной. Проведение оплаты в соответствии со сделанным заказом считается акцептом Покупателя, т.е. согласием на заключение договора в соответствии с данным предложением. Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств, если неисполнение является следствием таких непреодолимых обстоятельств как военные действия или стихийные бедствия.
          h2 ПУБЛИЧНАЯ ОФЕРТА НА КОНТРАКТНЫЙ ДВИГАТЕЛЬ
          p
            | Покупатель оформляет заказ, оплачивает и получает в собственность, а Продавец исполняет заказ и передает в собственность Покупателя контрактный Б/У двигатель для автомобиля.
          p
            | 1. Предмет Договора
          p
            | 1.1. В соответствии с условиями Договора Продавец обязуется передать Покупателю автомобильный двигатель, бывший в употреблении ДВС:
          p
            | (далее – Товар), а Покупатель - принять и оплатить цену передаваемого двигателя.
          p
            | 1.2. Цель приобретения товара – для собственного потребления.
          p
            | 1.3. Порядок поставки: передача товара осуществляется путем доставки товара от Продавца к Покупателю перевозчиком (транспортной компанией) либо предоставлением товара в распоряжение Покупателя в месте нахождения Продавца.
          p
            | 1.4. Право собственности переходит Покупателю с момента передачи товара и при условии его полной оплаты к моменту передачи.
          p
            | В случае если товар предоставляется в распоряжения Покупателя в месте нахождения продавца, то риск случайной гибели или повреждения товара переходит к Покупателю с момента передачи товара.
          p
            | В случае если передача товара осуществляется путем доставки товара от Продавца к Покупателю перевозчиком (транспортной компанией), то риск случайной гибели или повреждения товара переходит к покупателю с момента передачи поставщиком товара первому перевозчику.
          p
            | 1.5. Продавец передает товар свободный от обременений со стороны третьих лиц.
          p
            | 1.6. Продавец передает товар бывший в употреблении с естественной степенью износа.
          p
            | 2. Цена товара
          p
            | 2.1. Итоговая цена товара со всеми производственными издержками, определена по соглашению Сторон и составляет: (рублей) без НДС.
          p
            | 2.3. Оплата за двигатель б/у производится в Российских рублях.
          p
            | 2.4. Порядок оплаты: путем оплаты товара Продавцу.
          p
            | Продавец вправе произвести односторонний отказ от исполнения договора в случае, если товар не будет оплачен Покупателем в течение 3-х рабочих дней с момента получения им Договора. При таком одностороннем отказе Договор считается расторгнутым по истечении трех рабочих дней с момента получения его Покупателем, а Стороны автоматически освобождаются от всех обязательств по Договору после возвращения всего переданного до этого по Договору, если такая передача имела место.
          p
            | 3. Условия продажи
          p
            | 3.1. Подписав настоящий Договор, Покупатель подтверждает:
          p
            | - что уведомлен о том, что товар ранее был в употреблении и согласен его принять в собственность;
          p
            | - что осознает тот факт, что ему передается товар с естественной степенью износа;
          p
            | - что предупрежден о том, что нормальная работа двигателя возможна лишь при его правильной эксплуатации, а в целях предупреждения ухудшения качества двигателя выполнение работ по его установке следует производить в условиях СТО, имеющей лицензию на осуществление данного вида деятельности;
          p
            | 3.2. Осмотр и приемка товара осуществляются в момент передачи его Транспортной компанией Покупателю. Претензии по качеству товара после его приемки не принимаются.
          p
            | 3.3. Не является недостатком качества незначительные дефекты, в т. ч. естественный износ товара либо его составляющих деталей, возникшие в результате эксплуатации товара бывшими собственниками, если на момент продажи товар функционирует надлежащим образом.
          p
            | 3.4. Не является недостатком качества товара отсутствие функций, незаявленных Производителем или Продавцом.
          p
            | 3.5. При выполнении работ по установке двигателя в условиях СТО, имеющей лицензию на осуществление данного вида деятельности, на приобретенный товар по соглашению сторон может устанавливаться срок проверки продолжительностью 20 календарных дней.
          p
            | По соглашению сторон под сроком проверки понимается календарный срок, в течение которого Покупателем устанавливается следующее: соответствуют ли технические характеристики товара требованиям Покупателя.
          p
            | 3.6. Покупатель должен принимать во внимание, что продаваемый агрегат не новый, а бывший в употреблении, и осознавать наличие риска его полной или частичной неработоспособности.  Поскольку работа б/у агрегата напрямую связана с системой электропроводки, ЭБУ, и различных сопряженных с ним узлов, то возникшие в связи с этим дополнительные работы оплачиваются Покупателем отдельно. Также, в зависимости от типа и модели автомобиля (грузовик/микроавтобус, легковая, джип и т.д.) и в зависимости от рынка (Европа, Япония, Америка и т.д.) возможны отличия в конфигурации агрегата. Для двигателей, будучи идентичным в своей основе (блок и головка блока цилиндров) – они могут отличаться: системой впрыска и дроссельным блоком, формой поддона и маслоприемника, разъемами электропроводки и датчиками, шкивами, коллекторами и системой турбо надува, кронштейнами крепления агрегата и навесного оборудования, типом компрессора кондиционера и др. Для трансмиссий – раздаточной коробкой, разъемами, селектором переключения, датчиками и др. Гарантия работоспособности на предоставляемый агрегат распространяется без учета навесного оборудования, электропроводки и датчиков, а также тех элементов двигателя, которые подлежат периодической замене (фильтр, ремни, помпа, сальники и т.д.)
          p
            | В связи с вышеперечисленными условиями, в большинстве случаев необходима пере коммутация и соответствующая пред установочная подготовка с использованием недостающих комплектующих и элементов устанавливаемого агрегата. При этом недостающие комплектующие могут быть взяты с агрегата Покупателя, а в случае невозможности их использования по причине отсутствия, или неисправности – могут быть дополнительно приобретены за счет Покупателя по предварительно согласованным ценам.
          p
            | Подписав настоящий Договор, Покупатель подтверждает тот факт, что в полной мере осознает и принимает требования и условия приобретения и эксплуатации, изложенные в абзацах 1-ом и 2-ом настоящего пункта (п. 3.6).
          p
            | 4. Условия проверки товара и ответственность сторон
          p
            | 4.1. За ненадлежащее исполнения обязательств по настоящему Договору Стороны несут ответственность, предусмотренную законодательством Российской Федерации.
          p
            | 4.2. Сторона, не исполнившая или ненадлежащим образом исполнившая обязательства по настоящему Договору, обязана возместить другой стороне причиненные таким неисполнением убытки.
          p
            | 4.3. В случае необоснованного отказа Покупателя принять товар надлежащего качества и комплектности Покупатель возмещает расходы по доставке товара (в случае если доставка по соглашению Сторон осуществляется Продавцом) и причиненные убытки.
          p
            | 4.4. Покупатель вправе отказаться от выполнения настоящего Договора при условии возмещения Продавцу расходов, понесенных в связи с совершением действий по его выполнению.
          p
            | 4.5. Претензии принимаются только в течение срока проверки и при соблюдении всех следующих условий:
          p
            | - Двигатель должен быть установлен на автомобиль; проверена правильность выставления углов зажигания и проведены регулировочные работы специалистом СТО, имеющим сертификат на выполнение необходимых работ.
          p
            | - Наличие неповрежденных пломб Продавца на узлах двигателя;
          p
            | - Масло и фильтр, использованные для заправки двигателя, должны быть сертифицированы в РФ.
          p
            | - Наличие дефектов в двигателе рекомендуется определять специалистам СТО, имеющей лицензию и диагностическое оборудование. Решение о законности претензий принимается Продавцом после заключения экспертизы, проведенной комиссией Продавца.
          p
            | 4.6. В случае если Сторонами принимается решение о том, что товар подлежит возврату после установки на автомобиль, Покупателю необходимо также предоставить:
          p
            | - Копию заказ-наряда сервиса, где производилась установка товара на автомобиль;
          p
            | - Копию лицензии данного сервиса на проведение работ по установке данного изделия, обслуживанию данного типа автомобиля;
          p
            | - Справку и заключение сервисной станции о проведении работ по установке данной детали на автомобиль Клиента и непосредственном дефекте детали;
          p
            | - Копию сертификата на оказание услуг, предоставляемых сервисом;
          p
            | - Документ, подтверждающий факт приобретения товара у Продавца;
          p
            | - Акт выполненных работ на установку товара на автомобиль.
          p
            | 4.7. Условие о возврате товара в период установленного в п. 3.5 Договора срока проверки не действует в следующих случаях:
          p
            | - На двигатель, установленный вне условий СТО;
          p
            | - При возникновении в двигателе механических повреждений по вине покупателя;
          p
            | - Если диагностика агрегата по выявлению дефектов производится не в условиях СТО;
          p
            | - В случае несвоевременного извещения Продавца о наличии дефектов;
          p
            | - В случае если двигатель эксплуатируется на автомобиле с неисправной системой охлаждения двигателя;
          p
            | - На сальники и маслосъемные колпачки и прокладки поддона и Кл. крышки (т.к. за период хранения двигателя резинотехнические изделия теряют свои рабочие свойства, в результате чего повышается расход масла, и нарушаются уплотнения на узлах).
          p
            | - Если двигатель приобретен для установки на автомобиль, на который этот мотор серийно не ставился, либо с изменением объема двигателя или типа топлива (бензин-дизель), ответственность за его конструктивную совместимость и эксплуатационные характеристики берет на себя покупатель.
          p
            | - В случае если двигатель был разобран без согласования с Продавцом. 
          p
            | 5. Форс-мажорные обстоятельства
          p
            | 5.1. Ни одна из сторон не будет нести ответственность за полное или частичное неисполнение своих обязательств, если неисполнение является следствием наводнения, пожара, землетрясения и других стихийных бедствий или военных действий, возникших после заключения настоящего Договора.
          p
            | 5.2. Если любое из названных обстоятельств, непосредственно повлияло на исполнение обязательств в срок, установленный в Договоре, то этот срок соразмерно отодвигается на время действия соответствующего обстоятельства.
          p
            | 5.3. Сторона, для которой создалась невозможность исполнения обязательства, обязана немедленно (не позднее 3 дней с момента их наступления и прекращения) в письменной форме уведомить другую сторону о наступлении, предполагаемом сроке действия и прекращении вышеуказанных обстоятельств. Факты, изложенные в уведомлении, должны быть подтверждены торговой (торгово-промышленной) палатой или иным компетентным органом, или организацией соответствующей страны. Не уведомление или несвоевременное уведомление лишает Сторону права ссылаться на любое вышеуказанное обстоятельство как на основание, освобождающее от ответственности за неисполнение обязательства.
          p
            | 6. Прочие условия договора
          p
            | 6.1. Подписав настоящий Договор Покупатель подтверждает, что ознакомлен и согласен со следующими требованием и условием:
          p
            | - Подтверждением неисправности двигателя является только копия наряда СТО с разъяснением неисправности;
          p
            | - Бывшие в употреблении товары надлежащего качества обмену и возврату не подлежат в соответствии с подпунктом 79-7 Постановления Совета Министров Российской Федерации от 07 апреля 2004 года № 384 «Об утверждении правил осуществления розничной торговли отдельными видами товаров и общественного питания».
          p
            | 6.2. С письменного согласия Продавца Покупатель без объяснения причин может вернуть двигатель, в срок 14 календарных дней при полной исправности товара и при условии, что он не был установлен на автомобиль, только с диагностической картой замера компрессии СТО и удержанием 30% от продажной стоимости в качестве погашения убытков от потери коммерческой выгоды.
          p
            | 6.3. В случае возврата Покупателем двигателя в рабочем состоянии без учета оснований, указанных в договоре, двигатель может быть принят Продавцом на реализацию по договору комиссии с 30% комиссионного сбора.
          p
            | 6.4. Приемка двигателя осуществляется только при возврате всего пакета документов, выданных покупателю во время оформления покупки данного двигателя.
          p
            | 6.5. Настоящий Договор считается заключенным с момента его подписания обеими сторонами и прекращается после выполнения сторонами взаимных обязательств и полного расчета между ними.
          p
            | 6.6. Все изменения и дополнения к настоящему Договору должны быть совершены в той же форме, что и настоящий Договор, и являются неотъемлемой частью настоящего Договора.
          p
            | 6.7. Договор составлен в 2 (двух) экземплярах, имеющих равную юридическую силу, по одному для каждой из Сторон.
          p
            | 6.8. По вопросам, не урегулированным договором, стороны руководствуются действующим законодательством Российской Федерации. В случае возникновения споров по настоящему Договору
          p
            | 6.9. Стороны будут стремиться к разрешению всех возможных споров и разногласий, которые могут возникнуть по Договору или в связи с ним, путем переговоров и направления претензии. Срок ответа на претензию 5 календарных дней с момента ее получения.
          p
            | 6.10. Споры, не урегулированные путем переговоров, передаются на рассмотрение Экономического суда г. Москвы.