.product-preview__wrapper.product-preview__wrapper--in-order
  .product-preview__left
    h3.product-preview__title(data-highlight='Новый') Турбокомпрессор (турбина) BMW 3 - Series E90/E91 c 2005 г.
    .product-preview__info-wrapper
      img.product-preview__img(src='', data-src='img/1.jpg', alt='Турбокомпрессор (турбина) BMW 3 - Series E90/E91 c 2005 г.')
      .product-preview__info
        p.product-preview__text
          | 2 л, Дизель, TDI, АКПП (авт.), Седан, 2006, 2л, Дизель, TDI, 204D4 / M47D20, 49135-05620, Седан, черный,.
        .product-note.product-note--preview
          .product-note__column
            .product-note__wrapper
              p.product-note__title Артикул:
              p.product-note__text 00223200004671 
          .product-note__column
            .product-note__wrapper
              p.product-note__title Оригинал:
              p.product-note__text Да
          .product-note__column
            .product-note__wrapper
              p.product-note__title Оригинальный номер:
              p.product-note__text 11657795499
  .product-total.product-total--preview
    .product-total__upper.product-total__upper--preview
      p.product-total__price.product-total__price--preview
        | 540 000 ₽
      button.btn.btn--product-buy Купить
      a.btn.btn--transparent.btn--product-more(href='product-page.html') Подробнее
.product-preview__wrapper.product-preview__wrapper--sold
  .product-preview__left
    h3.product-preview__title(data-highlight='Б/У') Турбокомпрессор (турбина) BMW 3 - Series E90/E91 c 2005 г.
    .product-preview__info-wrapper
      img.product-preview__img(src='', data-src='img/1.jpg', alt='Турбокомпрессор (турбина) BMW 3 - Series E90/E91 c 2005 г.')
      .product-preview__info
        p.product-preview__text
          | 2 л, Дизель, TDI, АКПП (авт.), Седан, 2006, 2л, Дизель, TDI, 204D4 / M47D20, 49135-05620, Седан, черный,.
        .product-note.product-note--preview
          .product-note__column
            .product-note__wrapper
              p.product-note__title Артикул:
              p.product-note__text 00223200004671 
          .product-note__column
            .product-note__wrapper
              p.product-note__title Оригинал:
              p.product-note__text Да
          .product-note__column
            .product-note__wrapper
              p.product-note__title Оригинальный номер:
              p.product-note__text 11657795499
  .product-total.product-total--preview
    .product-total__upper.product-total__upper--preview
      p.product-total__price.product-total__price--preview
        | 540 000 ₽
      button.btn.btn--product-buy Купить
      a.btn.btn--transparent.btn--product-more(href='product-page.html') Подробнее