extends layouts

block content
  main.info-page__main
    .container
      .row
        include includes/toggleMenu
        include includes/menuheader
      .row
        include includes/breadcrumbs
        h2.col-12.section-title Вопрос-ответ
        .col-12
          .info-page__banner.info-page__banner--faq
            h3.info-page__title
              | Ответы на часто задаваемые 
              br
              | вопросы клиентов
            .about-statistics
              .about-statistics__item
                p.clipped-text.about-statistics__title 5 лет
                p.about-statistics__text
                  | профессиональной 
                  br
                  | работы
              .about-statistics__item
                p.clipped-text.about-statistics__title 5 000
                p.about-statistics__text
                  | качественно выполненых 
                  br
                  | заказов
              .about-statistics__item
                p.clipped-text.about-statistics__title 30%
                p.about-statistics__text
                  | клиентов возращаются 
                  br
                  | к нам повторно
      .row.info-page__row
        h2.col-12.section-title.section-title--info Нашел нужную деталь на сайте, что дальше?
        article.col-12.info-page__article
          p
            | В каждой карточке товара указана стоимость детали, если стоимость и общее состояние детали(на фото) вас устраивает,
            | нажимаете кнопку «Купить». После этого указываете ваши контактные данные и адрес доставки детали. Дале вам будет дана
            | более подробная информация и дополнительная инфомация.
          p
            | Если у вас возникли вопросы дополнительны, вы можете заказать обратный звонок и наш менеджер перезвонить Вам в ближайшее время
            | для консультациипо интересующим Вас вопросам.
      .row.info-page__row
        h2.col-12.section-title.section-title--info Способы оплаты товара?
        article.col-12.info-page__article
          p.list-title
            | После внесения заказа в корзину Вы оформляете заказ, где можете выбрать любой удобный Вам способ
            | оплаты. Основные способы оплаты заказ:
          ul
            li Оплата на расчетный счет
            li Банковская карта (VISA, MasterCard, Maestro, CUP, МИР)
            li
              | Электронные платежи (онлайн оплата на сайте с помощью банковской карты, систем Яндекс Деньги, WebMoney, MasterPass, PayPal)
      .row.info-page__row
        h2.col-12.section-title.section-title--info Как долго идет запчасть после того как я внес предоплату?
        article.col-12.info-page__article
          p
            | В случае если предоплата внесена в первой половине дня по Московскому времени, деталь будет заказана в этот же день, в
            | случае если деньги поступили на счет во второй половине дня, деталь будет заказана на следующий рабочий день.
          p Срок поставки деталей в РФ, с момента заказа 5-7 рабочих.
          p Доставка по Санкт-Петербургу до двери в день заказа.
      .row.info-page__row
        h2.col-12.section-title.section-title--info Если деталь не рабочая?
        article.col-12.info-page__article
          p
            | Так как детали приобретаются в Европе, где соблюдаются законы, каждый продавец дает гарантию на проверку, в случае если деталь
            | не рабочая её можно вернуть. В среднем на каждую детать мы даем гарантию до 1 месяца. Данного времени достаточно для выявления
            | неисправности детали.
      .row.info-page__row
        h2.col-12.section-title.section-title--info Можете отправить через почту, наложенным платежом?
        article.col-12.info-page__article
          p
            | Мы не отправляем детали наложенным платежом (тем более через почту) так как в этом случае выкупленная нами деталь, может
            | быть либо потеряна, либо по причинам не зависящим от покупателя не получена, в отделении почты ( забыл, неверно указал
            | индекс, передумал и т.д.). Специально для вашего удобства и быстрой доставки по РФ, мы работаем только с самыми лучшими
            | сервисами доставки.